# Jekyll build artifacts
!_site/
_site/
.jekyll-cache/
.jekyll-metadata
.history/



#MUSIC
_tracks.zip
_tracks/_unreleased/
_album/_unreleased/


#DEV 
_dev
_scripts
_docs
README-Blog-Template.md
_blog/_bak
/assets/playlists
_snippets

#scripts
generate_library_yml.py_docs/
generate_product_redirects.py
generate_library_yml.py
generate_library_ym-bak.py


# Sass cache
.sass-cache/

# Bundler / Ruby
vendor/
.bundle/
Gemfile.lock

# System files
.DS_Store
Thumbs.db

# Logs or temp (if ever used in future)
*.log
*.tmp

# Optional: Node (if you ever add JS build tools later)
node_modules/

# Obsidian workspace configs
_tracks/.obsidian/




.DS_Store
