---
layout: default
title: Music Library
permalink: /library/
description: "Browse over 360 StudioRich tracks by mood, genre, and visual aesthetic."
image: /assets/img/hero-music-library.webp
---
{% include components/hero.html 
  image=page.image 
  title="Music Library" %}



<section class="track-grid">
  {% for track in site.tracks %}
    <a class="track-card" href="{{ track.url }}">
      <img src="{{ track.image }}" alt="{{ track.title }} cover">
      <div class="track-title">{{ track.title }}</div>
    </a>
  {% endfor %}
</section>


