---
layout: default
---

<section class="blog-feed">
  {% for post in site.posts %}
    <div class="blog-card">
      <a href="{{ post.url }}" class="blog-link">
        <div class="blog-thumb">
          <img src="{{ post.image | default: '/assets/img/blog/default.jpg' }}" alt="{{ post.title }}">
          <div class="blog-text-overlay">
            <div class="blog-meta">{{ post.date | date: "%b %d, %Y" }}</div>
            <div class="blog-title">{{ post.title }}</div>
            <div class="blog-desc">{{ post.description | truncate: 90 }}</div>
          </div>
        </div>
      </a>
    </div>
  {% endfor %}
</section>
