---
layout: default
---

{% include components/hero.html image=page.image title=page.title %}

<article class="blog-post-container">
  <div class="blog-layout">

    <div class="blog-content">
  
      <p class="blog-meta">{{ page.date | date: "%B %d, %Y" }}</p>

      {% if page.tags %}
        <p class="blog-meta">Tags: {{ page.tags | join: ", " }}</p>
      {% endif %}

      <div class="blog-body">
        {{ content }}
      </div>

    <!--- share this -->
      {% include components/share-buttons.html type="blog" %}
    <!--- share this -->


      <footer class="blog-footer">
        <p><a href="/blog/">← Back to Blog</a></p>
      </footer>
    </div>

    {% if page.image %}
    <div class="blog-image">
      <img src="{{ page.image }}" alt="{{ page.title }} cover" />
    </div>
    {% endif %}

  </div>
</article>
