<header class="site-header">
  <div class="logo">
    <a href="/"><img src="/assets/img/kitty-emblem.svg" alt="StudioRich Logo"></a>
  </div>

  <nav class="main-nav">
    <ul>
      <li><a href="/about">Origin</a></li>
      <li><a href="/events">Explore</a></li>
      <li><a href="/library">Music Library</a></li>
      <li><a href="/live">Live Radio</a></li>
      <li><a href="/">Shop</a></li>
    </ul>
  </nav>

  <div class="header-icons">
    <a href="events" target="_blank"><img src="/assets/icons/calendar.svg" alt="Twitch"></a>

    <a href="https://twitch.tv/studiorich" target="_blank"><img src="/assets/icons/twitch.svg" alt="Twitch"></a>
    <a href="https://youtube.com/@Studio-Rich" target="_blank"><img src="/assets/icons/youtube.svg" alt="YouTube"></a>
    <a href="https://ko-fi.com/studiorich" target="_blank"><img src="/assets/icons/kofi.svg" alt="Ko-fi"></a>
  </div>
</header>
