<!-- Music Window -->
<div class="window hidden" id="window-music">
  <div class="window-header">
    <span>🎵 Music</span>
    <button class="close-window">
      <img src="/assets/icons/x-button.svg" alt="Close" />
    </button>
  </div>
  <div class="window-body">
    <p>-Empty-</p>
  </div>
</div>

<!-- Zines Window -->
<div class="window hidden" id="window-zines">
  <div class="window-header">
    <span>📚 Zines</span>
    <button class="close-window">
      <img src="/assets/icons/x-button.svg" alt="Close" />
    </button>
  </div>
  <div class="window-body">
    <p>-Empty-</p>
  </div>
</div>

<!-- Presskit Window -->
<div class="window hidden" id="window-presskit">
  <div class="window-header">
    <span>📂 Presskit</span>
    <button class="close-window">
      <img src="/assets/icons/x-button.svg" alt="Close" />
    </button>
  </div>
  <div class="window-body">
    <p>-Empty-</p>
  </div>
</div>

<!-- Albums Window -->
<div class="window hidden" id="window-albums">
  <div class="window-header">
    <span>Albums</span>
    <button class="close-window">✕</button>
  </div>
  <div class="window-body">
    <p>-Empty-</p>
  </div>
</div>

<div class="desktop-player window visible" id="player-window">
  <div class="window-header">
    <img
      src="/assets/icons/musicnote.svg"
      alt="Music Note icon"
      class="icon-sm"
    />
    Now Playing
  </div>
  <div class="window-body">
    <p id="now-playing">Loading playlist...</p>
    <div id="player-controls">
      <button onclick="prevTrack()">
        <img
          src="/assets/icons/previous-button.svg"
          alt="Previous track"
          class="icon-sm"
        />
      </button>
      <button onclick="togglePlay()">
        <img
          id="play-pause-icon"
          src="/assets/icons/play-button.svg"
          alt="Play/Pause"
          class="icon-sm"
        />
      </button>

      <button onclick="nextTrack()">
        <img
          src="/assets/icons/next-button.svg"
          alt="Next track"
          class="icon-sm"
        />
      </button>
    </div>

    <div id="progress-container">
      <div id="progress-bar"></div>
    </div>

    <audio id="audio" preload="auto"></audio>
  </div>
</div>
