
/* === Shop === */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}
.product-card img {
  width: 100%;
  border-radius: 12px;
  transition: transform 0.2s ease;
}
.product-card:hover img {
  transform: scale(1.03);
}
.product-card {
  background: #111;
  padding: 1rem;
  border-radius: 12px;
  transition: transform 0.2s ease;
  text-align: center;

  h3 {
    font-size: 1rem;
    margin-top: 0.5rem;
    font-weight: 400;
    color: #f0f0f0;
  }

  .price {
    font-size: 0.9rem;
    color: #f1c40f;
    margin-top: 0.25rem;
  }

  &:hover {
    transform: scale(1.03);
  }
}
