<!-- /_layouts/default.html -->
<!DOCTYPE html>
<html data-theme="light" lang="en">
  <head>
    {% include head.html %}
  </head>
<body>
  {% include sidebar.html %}

  <div class="layout-wrapper">
    <main class="site-main" role="main">
      {{ content }}
    </main>
    {% include footer.html %}
  </div>

  <script type="module" src="/assets/js/magicLink.js"></script>

  <script src="/assets/js/theme-toggle.js?v=3"></script>
  <script src="/assets/js/subscribe-form.js" defer></script>
</body>
